<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <link rel="icon" href="{{icon}}" type="image/x-icon">
    <!-- Google font-->
    <link href="{{googleFont}}" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="{{bootstrap}}">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="{{feather}}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{{style}}">
    <link rel="stylesheet" type="text/css" href="{{customScrollBar}}">

    <title>VoiceProg</title>
</head>
<body>
    {{{body}}}
</body>
</html>